#Strategies{

    background-color: var(--bs-primary);
    color: var(--bs-info);
    //       T    R    B    L
    padding: 50px 00px 50px 00px;



    #strategieList{
        border-left: 0.5px solid;
        padding-left: 3em;
        h5{
            padding-top: 1em;
            margin-bottom: 2em;
        }
    }

 

}