#Explainer{
    background-color: var(--bs-secondary);
    height: 500px !important;


    .text{
        color: var(--bs-light);
        //       T    R    B    L
        padding: 00px 50px 00px 00px;
        // margin: 50px 0 0 ;
    } 
    .img{
        background-size: cover !important;
        
    }
}