#Explainer{
    background-color: var(--bs-secondary);
    height: 500px !important;


    .text{
        color: var(--bs-info);
        //       T    R    B    L
        padding: 00px 50px 50px 00px;
    } 
    .img{
        background-size: cover;
        background-position: center;
    }
}