#Header{

    height: 40vh;
    
    h1{
        color: var(--bs-light);
        // color: var(--bs-info);
        font-style: italic;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1em;
        // border-radius: 50px 0 50px 0;
    }
    .hero-landing-1{
        // padding-top: 180px;
        // height: 500px;
        background-position: bottom;
        height: 100%;
    }
    .hero-title-big{
        // margin-top: 150px;
    
    }


} 

