nav {
    background-color: transparent !important;
    transition: 0.3s all;

    


   

}

#navbarNav {
    a {
        color: white;
        text-decoration: none;
        margin-left: 2em;
        text-transform: uppercase;

    }

    
    
}


.activeNav{
    background-color: var(--bs-secondary) !important ;
    box-shadow: 1px 4px 14px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 1px 4px 14px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 14px 0px rgba(0,0,0,0.33);

}