#footer22Century{
    background-color: var(--bs-primary) !important;
    padding-top: 67px;
    padding-bottom: 100px;
    color: var(--bs-info) !important;
    h2{ 
        font-style: italic;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;

        a{
            color: var(--bs-primary);
            text-decoration: none;
            text-align: left;
            font: normal normal 600 21px/31px ;
            letter-spacing: 0px;
            opacity: 1;
        }

    }
    p{  
        font-size: 14px;
        text-align: left;
        letter-spacing: 0px;
        color: var(--bs-info);
        opacity: 0.8;

    }
    li{
        position: relative;
        display: flex;
        align-items: center;


    }
    #contactMail{
        font-size: 14px;
        text-align: left;
        font: normal normal medium 14px/21px ;
        letter-spacing: 0px;
        color: #222222;
        opacity: 0.8;
        a{
            text-decoration: none;
            color: #222222;
        }

    }
    .container{
        padding:0px;
        margin: 0px;
        
    }
    .mediosDePago{
        margin-top: -10px;
    }
    .footerStrong{
        text-align: right !important;
        text-align: left;
        font: normal normal normal 14px/21px ;
        letter-spacing: 0px;
        color: #222222;
        opacity: 1;
        padding-top: 5px;
    }
}