/* make the customizations */
$theme-colors: (
        "primary": #154946,
        "secondary": #DC9A01,
        "malargueBg": #FAFAFA,
        // "light":      #F9F9F9,
);

// font-family: 'Lato', sans-serif;
// font-family: 'Newsreader', serif;


// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// 


/* import bootstrap to set changes */

$btn-padding-y: 1.3em;
$btn-padding-x: 1.3em;

.btn-secondary{
        color: white !important
}

:root {
        --bs-primary: #154946 !important;
        --bs-secondary: #DC9A01 !important;
        --negro: #222222 ;
        --bg-primay: #FAFAFA;
        --bs-info: #B9EBE8 !important;
        --bs-light: #F9F9F9 !important;
        --logoOverlay : rgba(255, 255, 255, 0.4);
         
        body {
                font-family: Lato;
                background-color: white
        }
}

h1{
        font-family: 'Newsreader';
        font-weight: 400
        
}
h2{
        font-family: 'Newsreader';
        font-weight: 400
        
}
h3{
        font-family: 'Newsreader';
        font-weight: 400
        
}
h4{
        font-family: 'lato';
        font-weight: 400;
        font-size: 18px !important
        
}

@import "../node_modules/bootstrap/scss/bootstrap";

