/* make the customizations */
$theme-colors: (
        "primary": #154946,
        "secondary": #DC9A01,
        "malargueBg": #FAFAFA,
);


/* import bootstrap to set changes */

$btn-padding-y: 1.3em;
$btn-padding-x: 1.3em;

.btn-secondary{
        color: white !important
}

:root {
        --bs-primary: #154946 !important;
        --bs-secondary: #DC9A01 !important;
        --negro: #222222 ;
        --bg-primay: #FAFAFA;
        --bs-info: #B9EBE8 !important;
         
        body {
                font-family: Newsreader;
                background-color: white
        }
}

h1{
        font-family: 'Newsreader';
        font-weight: 400
        
}

@import "../node_modules/bootstrap/scss/bootstrap";

